@font-face {
    font-family: 'IRANSans' ;
    src: url('/Todolist/font/IRANSans.ttf');
}
@font-face {
    font-family: 'IRANSans_B' ;
    src: url('/Todolist/font/IRANSans_Bold.ttf');
}
@font-face {
    font-family: 'IRANSans_M' ;
    src: url('/Todolist/font/IRANSans_Medium.ttf');
}
@font-face {
    font-family: 'IRANSans_L' ;
    src: url('/Todolist/font/IRANSans_Light.ttf');
}
@font-face {
    font-family: 'IRANSans_UL' ;
    src: url('/Todolist/font/IRANSans_UltraLight.ttf');
}
body{
    background-image: linear-gradient(to right , #eee , #AAA) ;
}
.header{
    display: flex; justify-content: center;
}
.header h2 {
    font-size: 40pt;font-family: Merienda;text-shadow: 3px 3px 2px rgb(243, 243, 243) ;
}
.body{
    display: flex;justify-content: center;height: 40px;
}
.bodyInput{
    margin: 0 -27px;
}
.bodyFilter{
    display: flex;height:40px;
}
.bodyFilter p{
    margin: 3px  10px;font-family: Jaldi;font-size: 15pt;font-weight: bold;
}
#todoInput{
    outline: none;font-size: 15pt;border-radius: 8px;
     font-family: IRANSans;direction: rtl;padding-right: 10px;color: grey;
}
#btnPlus{
    position: relative;top: 0;right: 298px;width: 41px;height: 40px;
    border-radius: 8px;background-image: linear-gradient(to right ,#fff ,#bbb);
    
}
#filter{
    border-radius: 8px;
    background: #000;
    color: #fff;
    outline: none;
    font-family: 'Jaldi';
    font-size: 15px;
}
.todoItem{
    display: flex; margin: 7px 0;justify-content: flex-end;
}
.btn_Click{
    width: 35px;height: 35px;margin: 0 5px;cursor: pointer;
}
.txt_Todo{
    font-family: IRANSans; font-size: 20px;margin: 0 5px;direction: rtl;
    background: #fff;
    border-radius: 8px;
    padding: 0 15px;
}
#main_Todo{
    display: flex;
    width: 690px;
    justify-content: flex-end;
    margin: 0 auto;
}
.numTodo{
    font-family: 'Merienda';
    font-size: 20px;
    padding-top: 5px;
}
.complet{
    opacity: 0.3;
}
.message{
    font-family: IRANSans_L;font-size: 15px;
}
.successMessage{
    font-family: IRANSans_L;font-size: 18px;color: #fff;
    text-shadow: 2px 2px 3px #000;
}
.txtDate{
    display: block;direction: rtl;font-family: IRANSans_L;font-size: 17px;margin: 10px 10px;
}
.Date{
    margin: 0 10px;
}
.dateFilter{
    display: flex;
    height: 75px;
    width: auto;
    margin: -33px 10px;
}
